<header>
  <ion-toolbar>
    <ion-title>{{adresa}}</ion-title>
    <ion-buttons slot ="end">
      <ion-button (click)="dismissModal()">Zatvori</ion-button>
    </ion-buttons>
  </ion-toolbar>
</header>
  <ion-content class="ion-padding">
    <form #forma="ngForm">
    <ion-item>
      <ion-label position="stacked"> Cena:{{cena}}  </ion-label>
    <ion-input placeholder="Unesi cenu" type="number" ngModel name ="cena"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label  position="stacked"  > Broj telefona:{{brojtelefona}} </ion-label>
      <ion-input  placeholder="06********"type="text" required minlength="8" ngModel name ="brojtelefona"></ion-input>
    </ion-item>
    <ion-item>
      
      <ion-label  position="stacked" > E-mail:{{email}} </ion-label>
      <ion-input placeholder="*********@*****.com"required email required minlength="2" ngModel name ="email"></ion-input>
    </ion-item>


      
    <ion-button expand="block" (click)="onDeposit()" class="ion-margin-top">Izmeni</ion-button>

  </form>
  </ion-content>