.x{
    margin-left: 10px;
    
  
}
ion-toggle {
    --background: #000;
    --background-checked:#08aafb;
  
    --handle-background: #08aafb;
    --handle-background-checked: #000;
  }

  .adALabel1{
    font-size: 40px;
  } 
  .adALabel2{
      margin-top: 5px;
      margin-bottom: 0pxs;
    font-size: 30px;
  }
 