<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>

    <ion-title>Sačuvano</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-list  *ngFor=" let Nekretnina of nekretnine4 " [nekretninePrave]="Nekretnina">
  
      <ion-item >
        <ion-thumbnail class="ion-margin-end">
          
          <ion-img src="{{Nekretnina.UrlSlike}}"></ion-img>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap"  ><div class="adrGrad">{{Nekretnina.Adresa}},{{Nekretnina.Grad}}</div> </ion-label>
        <ion-label> <div class="adrGrad">    {{Nekretnina.Cena}} € </div></ion-label>
        <ion-item href="/home/{{Nekretnina.id}}" detail></ion-item>
      </ion-item>
    
    
    </ion-list>
    
    
  
  </ion-content>

</ion-content>
