.register-header{
  background: var(--theme-color);
}
.register-header{
  position: relative;
  background: var(--theme-color);
  border-radius: 0em;
}

.logo-img{
  display: block;
  width: 128px;
  margin:0 auto;
  text-align: center;

}
ion-content{
  --background: #d5dbdb;
}
