<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/add-new-ad"></ion-back-button>
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title>   House</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-radio-group value="biff">
      <ion-list-header>
        <ion-label>Type of sell</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Sale </ion-label>
        <ion-radio slot="start" value="sale"></ion-radio>
      </ion-item>




      <ion-item>
        <ion-label>Issuance per month</ion-label>
        <ion-radio slot="start" value="month"></ion-radio>
      </ion-item>


      <ion-item>
        <ion-label>Issuance per day</ion-label>
        <ion-radio slot="start" value="day"></ion-radio>
      </ion-item>



    </ion-radio-group>
  </ion-list>

  <ion-item>
    <ion-label class="adALabel2" > Number of floors </ion-label>
    <ion-input type="number"></ion-input>

  </ion-item>

  <ion-item>
    <ion-label class="adALabel2" > Yard area </ion-label>
    <ion-input type="number"></ion-input>
 m2
  </ion-item>
  <ion-item>
    <ion-icon name="images"></ion-icon>
    <ion-label class="adALabel2" > Add photo </ion-label>
    <ion-input type="number"></ion-input>

  </ion-item>
  <ion-button class="button">Add new ad</ion-button>
</ion-content>
