<ion-headder>
  <ion-toolbar>
    <ion-title><b>Detaljni podaci</b></ion-title>
    
    <ion-buttons slot ="end">
      <ion-button slot="primary" (click)="dismissModal()"><ion-icon name = "close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-headder>

  <ion-content class="ion-padding">
    
    <ion-list>
      <ion-label position="floating">  <ion-img src="{{slika}}"></ion-img></ion-label>
      <br>
      <br>
      
      <ion-label position="floating"> <b>Ulicaa:</b> {{ulica}}  </ion-label>
 <br>
 <br>  
    <ion-label position="floating"> <b>Grad:</b> {{grad}}  </ion-label>
<br>
<br>
  <ion-label position="floating"> <b>Drzava:</b> {{drzava}}  </ion-label>
<br>
<br>
  <ion-label position="floating"> <b>Cena:</b> {{cena}} € </ion-label>
<br>
<br>
  <ion-label position="floating"> <b>Povrsina:</b> {{povrsina}} m2  </ion-label>
<br>
<br>
  <ion-label position="floating"> <b>Godina gradnje:</b> {{godinagradnje}}  </ion-label>
<br>
<br>
  <ion-label position="floating"> <b>Centralno grejanje:</b> {{centgrejanje}}  </ion-label>
<br>
<br>
<ion-label position="floating"> <b>Parking mesto:</b> {{parking}}  </ion-label>
<br>
<br>
<ion-label position="floating"> <b>Uknjizeno:</b> {{uknjizeno}}  </ion-label>
<br>
<br>
<ion-label position="floating"> <b>Namesteno:</b> {{namesteno}}  </ion-label>
<br>
<br>
<ion-label position="floating"> <b>Broj telefona:</b> {{brojtelefona}}  </ion-label>
<br>
<br>
<ion-label position="floating"> <b>E-mail:</b> {{email}}  </ion-label>
<br>
<br>
<ion-label position="floating"> <b>Vrsta nekretnine:</b> {{vrstanekretnine}}  </ion-label>
<br>
<br>
<ion-label position="floating"> <b>Nacin izdavanja:</b> {{nacinizdavanja}}  </ion-label>
<br>
<br>
<ion-label position="floating"> <b>Broj spratova:</b> {{brojspratova}}  </ion-label>
<br>
<br>
<ion-label position="floating"> <b>Povrsina dvorista:</b> {{dvoriste}}  </ion-label>
<br>
<br>

<ion-label position="floating"> <b>Opis:</b> {{opis}}  </ion-label>
<br>
<br>
 


    
    </ion-list>
    


      


  </ion-content>
