<ion-header no-border>
  <div class="login header ion-padding">
    <img class="logo-img" src="assets/real-estate-logo-template_1156-724.jpg">
  </div>
</ion-header>

<ion-content>

  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="center">

      <div heading-column-lr>
        <h2 big-heading>Prijavi se na svoj nalog</h2>
      </div>
      <ion-label></ion-label>
      <ion-item transparent>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input  type="string" placeholder="Korisničko ime" ngModel name="Email" email required  #email="ngModel"></ion-input>
      </ion-item>

      <ion-item lines="none" *ngIf="email.invalid && email.touched">
        <ion-label>Should be a valid email address.</ion-label>
      </ion-item>

      <ion-item transparent>
        <ion-icon name="lock-open-outline"></ion-icon>
        <ion-input  placeholder="Lozinka" type="password" ngModel name="Lozinka" required minlength="8" #password="ngModel"></ion-input>
      </ion-item>

      <ion-item lines="none" *ngIf="password.invalid && password.touched">
        <ion-label>Should be minimum 8 characters long.</ion-label>
      </ion-item>

      <ion-button type = "submit" color="primary" class="ion-button-class" shape="round" fill="solid"  expand="block"
      [disabled]='loginForm.invalid'>Prijavi se</ion-button>
      <ion-label class="ion-text-center">Nisi registrovan?<span class="link-button" (click)="Register()">Registruj se.</span>
      </ion-label>
    </div>


  </form>

</ion-content>
