<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>

    <ion-title>Add new ad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item> <ion-label class="adALabel1" >Address </ion-label>  </ion-item>
    <ion-item>  <ion-input placeholder="Enter address"></ion-input>  </ion-item>
      <ion-item> <ion-input placeholder="Enter town"></ion-input>  </ion-item>
        <ion-item>  <ion-input placeholder="Enter country"></ion-input>  </ion-item>

  <ion-item>
    <ion-label class="adALabel2" > Year of construction  </ion-label>
  <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="adALabel2" > Square footage </ion-label>
    <ion-input type="number"></ion-input>
    m2
  </ion-item>

  <ion-item>
    <ion-label class="adALabel2" > Price </ion-label>
    <ion-input type="number"></ion-input>
    €
  </ion-item>


      <ion-item >   <ion-checkbox checked="false"></ion-checkbox><ion-label class="adALabel2" >     Central heating </ion-label>
    </ion-item>

      <ion-item >
        <ion-checkbox checked="false"></ion-checkbox><ion-label class="adALabel2" >    Parking place </ion-label>
         </ion-item>
  <ion-item >
    <ion-checkbox checked="false"></ion-checkbox><ion-label class="adALabel2" >    Registered </ion-label>
  </ion-item>

  <ion-item >
    <ion-checkbox checked="false"></ion-checkbox><ion-label class="adALabel2" >    Furnished house/apartment </ion-label>
  </ion-item>

  <ion-item>
    <ion-label  position="stacked" > Phone number </ion-label>
    <ion-input type="number" placeholder="06********"></ion-input>
  </ion-item>
  <ion-item>

    <ion-label  position="stacked"> E-mail </ion-label>
    <ion-input placeholder="*********@*****.com"></ion-input>
  </ion-item>

  <ion-list>
    <ion-radio-group value="biff">
      <ion-list-header>
        <ion-label>Type of property </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Apartment</ion-label>
        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>House</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>


    </ion-radio-group>
  </ion-list>

  <ion-button  routerLink="/house-ad" class="buttonNext" align="right">
    Next
  </ion-button>
</ion-content>
