<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>

    <ion-title>Dodaj novi oglas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<form [formGroup]=AddREForm (ngSubmit)="addNewAd()">
  <ion-item> <ion-label class="adALabel1"  >Adresa </ion-label>  </ion-item>
    <ion-item>  <ion-input placeholder="Unesi adresu" formControlName="Adresa" type="text"  required minlength="2"></ion-input>  </ion-item>
      <ion-item> <ion-input placeholder="Unesi grad" formControlName="Grad" type="text" required minlength="2" > </ion-input>  </ion-item>
        <ion-item>  <ion-input placeholder="Unesi državu" formControlName="Drzava" type="text" required minlength="2"> </ion-input>  </ion-item>

  <ion-item>
    <ion-label class="adALabel2" > Godina izgradnje  </ion-label>
  <ion-input type="number" formControlName="GodinaGradnje"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="adALabel2" > Površina </ion-label>
    <ion-input type="number" formControlName="Kvadratura"></ion-input>
    m2
  </ion-item>

  <ion-item>
    <ion-label class="adALabel2"  > Cena </ion-label>
    <ion-input type="number" formControlName="Cena"></ion-input>
    €
  </ion-item>


      <ion-item  >   
        <ion-checkbox   formControlName="CentralnoGrejanje" ></ion-checkbox><ion-label class="adALabel2" >    Centralno grejanje</ion-label>
    </ion-item>

      <ion-item >
        <ion-checkbox  formControlName="ParkingMesto"></ion-checkbox><ion-label class="adALabel2" >    Parking mesto </ion-label>
         </ion-item>
  <ion-item >
    <ion-checkbox  formControlName="Uknjizeno"></ion-checkbox><ion-label class="adALabel2" >    Uknjiženo </ion-label>
  </ion-item>

  <ion-item >
    <ion-checkbox  formControlName="SredjenStan"></ion-checkbox><ion-label class="adALabel2" >    Furnished house/apartment </ion-label>
  </ion-item>

  <ion-item>
    <ion-label  position="stacked"  > Broj telefona </ion-label>
    <ion-input  placeholder="06********" formControlName="BrojTelefona" type="text" required minlength="8"></ion-input>
  </ion-item>
  <ion-item>

    <ion-label  position="stacked" > E-mail </ion-label>
    <ion-input placeholder="*********@*****.com" formControlName="Email" required email required minlength="2" ></ion-input>
  </ion-item>

  <ion-list>
    <ion-radio-group formControlName="TypeOfProperty" >
      <ion-list-header>
        <ion-label>Vrsta nekretnine</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Stan</ion-label>
        <ion-radio slot="start" value="Apartment"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Kuća</ion-label>
        <ion-radio slot="start" value="House"></ion-radio>
      </ion-item>

      

    </ion-radio-group>
    
  </ion-list>


    <ion-list>
      <ion-radio-group  formControlName="TypeOfSale">
        <ion-list-header>
          <ion-label>Način izdavanja</ion-label>
        </ion-list-header>
  
        <ion-item>
          <ion-label>Prodaja </ion-label>
          <ion-radio slot="start" value="Sale"></ion-radio>
        </ion-item>
  
  
  
  
        <ion-item>
          <ion-label>Issuance per month</ion-label>
          <ion-radio slot="start" value="Issuance per month"></ion-radio>
        </ion-item>
  
  
        <ion-item>
          <ion-label>Issuance per day</ion-label>
          <ion-radio slot="start" value="Issuance per day"></ion-radio>
        </ion-item>
  
  
  
      </ion-radio-group>
    </ion-list>
  
    <ion-item>
      <ion-label class="adALabel2"  > Broj spratova </ion-label>
      <ion-input type="number" formControlName="BrojSpratova"></ion-input>
  
    </ion-item>
  
    <ion-item>
      <ion-label class="adALabel2"  > Površina dvorišta </ion-label>
      <ion-input type="number" formControlName="PovrsinaDvorista" ></ion-input>
   m2
    </ion-item>
    <ion-item>
      <ion-icon name="images"></ion-icon>
   
      <ion-label class="adALabel2" > Ddoaj sliku </ion-label>
      <ion-input formControlName="UrlSlike" type="text"  required minlength="4">     
      </ion-input>
  
    </ion-item>
    <ion-item>
      <ion-label> Opis: </ion-label>
      <ion-textarea   formControlName="Opis"  type="text"  ></ion-textarea>
    </ion-item>
    
    <ion-button  type="submit" color="primary" class="ion-button-class" shape="round" fill="solid"  expand="block" >Dodaj oglas</ion-button>
    
  
</form>
</ion-content>
