 <ion-card>
    <ion-card-header >


      <ion-card-subtitle>{{realEstate.address}}</ion-card-subtitle>
      <ion-card-title>{{realEstate.address}}</ion-card-title>

      <ion-button color="light" >

        <ion-icon name="bookmark"></ion-icon>
      </ion-button>


    </ion-card-header>

    <ion-card-content>
      <img src={{realEstate.imageUrl}} class="mainImage"/>
      <div class="price"> € {{realEstate.price}}</div>
      {{realEstate.description}}
    </ion-card-content>
  </ion-card>
