<ion-header>
  <ion-toolbar  >
    <ion-buttons  class="searchBar" slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
  


    <ion-searchbar class="searchBar"   color="light" debounce="500" (ionChange)="_ionChange($event)"></ion-searchbar>


  </ion-toolbar>
  <ion-item>
  <ion-button  (click)="OtvoriFilter()" >
    <ion-icon name="options" >
    </ion-icon>
  </ion-button>
    <ion-label class="adALabel2"> Filteri</ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <ion-list  *ngFor=" let Nekretnina of nek " [nekretnine]="Nekretnina">

    <ion-item >
      <ion-thumbnail class="ion-margin-end">
        
        <ion-img src="{{Nekretnina.UrlSlike}}"></ion-img>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap"  ><div class="adrGrad">{{Nekretnina.Adresa}},{{Nekretnina.Grad}}</div> </ion-label>
      <ion-label> <div class="adrGrad">    {{Nekretnina.Cena}} € </div></ion-label>
      <ion-item href="/home/{{Nekretnina.id}}" detail></ion-item>
    </ion-item>
  
  
  </ion-list>
  
  

</ion-content>
