.price {
  color: rgb(42, 42, 51);
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  font-family: "Open Sans", Tahoma, Geneva, sans-serif;
  font-weight: 1000;
  font-size: 30px;
  line-height: 50px;
}

.mainImage{
  height: 100%;
  width: 100%;
}


